@{
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
@model IEnumerable<WebApplication1.Models.Product>

<h2>Product List</h2>
<table class="table">
    <tr>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Rate</th>
        <th>Description</th>
        <th>Category Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="@Url.Action("Edit", new { id = item.ProductId })">@item.ProductId</a></td>
            <td>@item.ProductName</td>
            <td>@item.Rate</td>
            <td>@item.Description</td>
            <td>@item.CategoryName</td>
        </tr>
    }
</table>
